<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qr Generator</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="static\css\style.css">
</head>

<body>
    <div style="margin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Qr Generator</h1>

        <form class="ui form" action="/add" method="post">
            <div class="field">
                <label>Mobile No</label>
                <input type="text" name="Mobile" placeholder="Enter Mobile..."><br>
                <label>Greeting Message</label>
                <input type="text" name="Message" placeholder="Enter Message..."><br>
            </div>
            <button class="ui blue button" type="submit">Add</button>
        </form>

        <hr>

</body>

</html>